<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    
    <p>
      <%= link_to "Show this post", post, class: "btn btn-secondary"%>
      &nbsp
      <%= link_to "Show Comments", comments_path(id: post.id), class: "btn btn-secondary"%>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path(id: @user.id), class: "btn btn-secondary" %>