<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<div id="posts">
  <% @posts.each do |post| %>
    <div  class = "m-3 p-5 bg-secondary text-white rounded">
      <%= render post, current_user: @user %>
    </div>
    <% if post.comments.last %>
      <%= render post.comments.last %>
    <% else %>
      <b>No comments yet.</b>
      </br>
    <% end %>
    <p>
      <%= link_to "Show this post", post, class: "btn btn-secondary"%>
      &nbsp
      <%= link_to "Show Comments", comments_path(id: post.id), class: "btn btn-secondary"%>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path(id: @user.id), class: "btn btn-secondary" %>