<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post, id: @post.id), class: "btn btn-dark" %>
  &nbsp
  <%= link_to "Back to posts", posts_path(id: current_user.id), class: "btn btn-dark" %>
  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-dark" %>
</div>
